# Ignore all Jupyter notebook checkpoint directories
.ipynb_checkpoints/

# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/

# Ignore Git directory (should not be included in .gitignore)
# .git/

# Ignore IDE settings (e.g., IntelliJ IDEA)
.idea/

# Ignore checkpoints
*checkpoints*

# Ignore log files
*.log
logs/

# Ignore Ibex-specific files or directories
*ibex*

# Ignore specific dataset-related directories
.DS_Store
.Datasets/

# Ignore all .h5 files (common for datasets)
*.h5

# Ignore all .pth files (model checkpoints)
*.pth

# Ignore Dataset directory
Dataset/

# You can also ignore other large files like logs or checkpoints
*checkpoints*
*logs*
