# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/

# Ignore IDE settings
.idea/

# Ignore checkpoints
*checkpoints*

# Ignore log files
*.log
logs/

# Ignore Ibex-specific files
*ibex*

# Ignore macOS system files
.DS_Store

# Ignore dataset directories
.Datasets/
Dataset/

# Ignore common dataset/model files
*.h5
*.pth