# Ignore all Jupyter notebook log files
*ipynb

# Ignore compiled Python files
*.pyc

# Ignore Git directory
.git/

# Ignore IDE settings (e.g., IntelliJ IDEA)
.idea/

# Ignore checkpoints
*checkpoints*

# Ignore log files
*logs*
.log/

# Ignore Ibex-specific files or directories
*ibex

.Dataset/

